In [14]:
from astroquery.jplhorizons import Horizons
import pandas as pd

In [15]:
df = pd.DataFrame(columns = ['datetime_str', 'RA', 'DEC'])
print(df)

Empty DataFrame
Columns: [datetime_str, RA, DEC]
Index: []

In [16]:
for i in range(30):
    obj = Horizons(id="-23", id_type='majorbody',
               epochs={'start':str(1972+i) + '-03-04', 'stop':str(1973+i) + '-03-04',
                       'step':'VAR 460'})
    
    eph = obj.ephemerides(quantities=1)
    
    df = df.append(eph.to_pandas())

print(df)

                datetime_str         RA       DEC  \
0   1972-Mar-04 00:00:00.000  246.80935 -30.75413
1   1972-Mar-04 03:39:27.015  246.93610 -30.76865
2   1972-Mar-04 08:36:11.068  247.06011 -30.78274
3   1972-Mar-04 15:35:33.602  247.18058 -30.79634
4   1972-Mar-05 02:03:50.743  247.29634 -30.80933
..                       ...        ...       ...
7   2001-Dec-24 14:28:10.727   75.64373  25.86666
8   2002-Jan-04 13:06:47.362   75.50797  25.85162
9   2002-Jan-16 10:21:06.533   75.37655  25.83516
10  2002-Jan-30 05:24:30.426   75.25295  25.81699
11  2002-Feb-17 10:59:33.800   75.14874  25.79640

                       targetname   datetime_jd solar_presence flags
0   Pioneer 10 (spacecraft) (-23)  2.441380e+06
1   Pioneer 10 (spacecraft) (-23)  2.441381e+06
2   Pioneer 10 (spacecraft) (-23)  2.441381e+06
3   Pioneer 10 (spacecraft) (-23)  2.441381e+06
4   Pioneer 10 (spacecraft) (-23)  2.441382e+06
..                            ...           ...            ...   ...
7   Pioneer 10 (spacecraft) (-23)  2.452268e+06
8   Pioneer 10 (spacecraft) (-23)  2.452279e+06
9   Pioneer 10 (spacecraft) (-23)  2.452291e+06
10  Pioneer 10 (spacecraft) (-23)  2.452305e+06
11  Pioneer 10 (spacecraft) (-23)  2.452323e+06

[3034 rows x 7 columns]

In [17]:
obj = Horizons(id="-23", id_type='majorbody',
               epochs={'start':'2002-03-04', 'stop':'2003-01-22',
                       'step':'VAR 460'})

eph = obj.ephemerides(quantities=1)
    
df = df.append(eph.to_pandas())

In [18]:
df = df.drop(['targetname', 'datetime_jd', 'solar_presence', 'flags'], axis = 1)
df = df.rename(columns={"datetime_str": "date", "RA": "ra", "DEC": "dec"})
print(df)

                        date         ra       dec
0   1972-Mar-04 00:00:00.000  246.80935 -30.75413
1   1972-Mar-04 03:39:27.015  246.93610 -30.76865
2   1972-Mar-04 08:36:11.068  247.06011 -30.78274
3   1972-Mar-04 15:35:33.602  247.18058 -30.79634
4   1972-Mar-05 02:03:50.743  247.29634 -30.80933
..                       ...        ...       ...
5   2002-Nov-27 14:58:14.767   76.23570  25.91528
6   2002-Dec-08 16:23:12.817   76.09205  25.90360
7   2002-Dec-19 11:45:12.663   75.95159  25.89067
8   2002-Dec-30 11:54:11.621   75.81409  25.87648
9   2003-Jan-11 04:07:27.709   75.68049  25.86096

[3044 rows x 3 columns]

In [19]:
df.to_csv('pio10_ephemeris.csv')