In [1]:
from astroquery.jplhorizons import Horizons
import pandas as pd

In [14]:
df = pd.DataFrame(columns = ['datetime_str', 'RA', 'DEC'])
print(df)

Empty DataFrame
Columns: [datetime_str, RA, DEC]
Index: []

In [15]:
for i in range(18):
    obj = Horizons(id="horizons", id_type='majorbody',
               epochs={'start':str(2006+i) + '-01-20', 'stop':str(2007+i) + '-01-20',
                       'step':'VAR 460'})
    
    eph = obj.ephemerides(quantities=1)
    
    df = df.append(eph.to_pandas())

print(df)

                datetime_str         RA       DEC  \
0   2006-Jan-20 00:00:00.000  207.08781 -10.02864
1   2006-Jan-20 00:13:54.276  207.19701  -9.97212
2   2006-Jan-20 00:29:30.543  207.30739  -9.91493
3   2006-Jan-20 00:46:49.544  207.41706  -9.85803
4   2006-Jan-20 01:06:09.506  207.52607  -9.80141
..                       ...        ...       ...
16  2023-Dec-14 22:13:06.195  288.65950 -20.35946
17  2023-Dec-22 18:42:22.753  288.79828 -20.34420
18  2023-Dec-30 06:38:08.193  288.93554 -20.32838
19  2024-Jan-06 13:46:45.013  289.07162 -20.31203
20  2024-Jan-13 18:57:56.289  289.20656 -20.29517

                         targetname   datetime_jd solar_presence flags
0   New Horizons (spacecraft) (-98)  2.453756e+06
1   New Horizons (spacecraft) (-98)  2.453756e+06
2   New Horizons (spacecraft) (-98)  2.453756e+06
3   New Horizons (spacecraft) (-98)  2.453756e+06
4   New Horizons (spacecraft) (-98)  2.453756e+06
..                              ...           ...            ...   ...
16  New Horizons (spacecraft) (-98)  2.460293e+06
17  New Horizons (spacecraft) (-98)  2.460301e+06
18  New Horizons (spacecraft) (-98)  2.460309e+06
19  New Horizons (spacecraft) (-98)  2.460316e+06
20  New Horizons (spacecraft) (-98)  2.460323e+06

[1837 rows x 7 columns]

In [16]:
obj = Horizons(id="horizons", id_type='majorbody',
               epochs={'start':'2024-01-20', 'stop':'2024-12-31',
                       'step':'VAR 460'})

eph = obj.ephemerides(quantities=1)
    
df = df.append(eph.to_pandas())

In [17]:
df = df.drop(['targetname', 'datetime_jd', 'solar_presence', 'flags'], axis = 1)
df = df.rename(columns={"datetime_str": "date", "RA": "ra", "DEC": "dec"})
print(df)

                        date         ra       dec
0   2006-Jan-20 00:00:00.000  207.08781 -10.02864
1   2006-Jan-20 00:13:54.276  207.19701  -9.97212
2   2006-Jan-20 00:29:30.543  207.30739  -9.91493
3   2006-Jan-20 00:46:49.544  207.41706  -9.85803
4   2006-Jan-20 01:06:09.506  207.52607  -9.80141
..                       ...        ...       ...
18  2024-Aug-12 21:40:26.760  288.70597 -20.29126
19  2024-Aug-22 15:57:34.445  288.58007 -20.30985
20  2024-Sep-02 22:09:23.605  288.45960 -20.32905
21  2024-Sep-17 05:18:42.993  288.35209 -20.34893
22  2024-Oct-11 00:15:46.947  288.30129 -20.36808

[1860 rows x 3 columns]

In [18]:
df.to_csv('nh_ephemeris.csv')