In [1]:
from astroquery.jplhorizons import Horizons
import pandas as pd

In [8]:
df = pd.DataFrame(columns = ['datetime_str', 'RA', 'DEC'])
print(df)

Empty DataFrame
Columns: [datetime_str, RA, DEC]
Index: []

In [9]:
for i in range(22):
    obj = Horizons(id="-24", id_type='majorbody',
               epochs={'start':str(1973+i) + '-04-07', 'stop':str(1974+i) + '-04-07',
                       'step':'VAR 460'})
    
    eph = obj.ephemerides(quantities=1)
    
    df = df.append(eph.to_pandas())

print(df)

                datetime_str         RA       DEC  \
0   1973-Apr-07 00:00:00.000  290.69755 -34.80406
1   1973-Apr-07 03:39:19.268  290.83081 -34.80316
2   1973-Apr-07 08:38:22.160  290.96087 -34.80213
3   1973-Apr-07 15:46:34.986  291.08670 -34.80097
4   1973-Apr-08 02:41:48.882  291.20674 -34.79963
..                       ...        ...       ...
42  1995-Feb-15 02:37:24.577  273.22936  -8.12449
43  1995-Feb-22 09:17:14.501  273.34460  -8.08731
44  1995-Mar-02 16:24:37.133  273.45351  -8.04189
45  1995-Mar-12 16:03:40.262  273.55036  -7.98433
46  1995-Mar-25 21:08:27.583  273.61844  -7.90623

                       targetname   datetime_jd solar_presence flags
0   Pioneer 11 (spacecraft) (-24)  2.441780e+06
1   Pioneer 11 (spacecraft) (-24)  2.441780e+06
2   Pioneer 11 (spacecraft) (-24)  2.441780e+06
3   Pioneer 11 (spacecraft) (-24)  2.441780e+06
4   Pioneer 11 (spacecraft) (-24)  2.441781e+06
..                            ...           ...            ...   ...
42  Pioneer 11 (spacecraft) (-24)  2.449764e+06
43  Pioneer 11 (spacecraft) (-24)  2.449771e+06
44  Pioneer 11 (spacecraft) (-24)  2.449779e+06
45  Pioneer 11 (spacecraft) (-24)  2.449789e+06
46  Pioneer 11 (spacecraft) (-24)  2.449802e+06

[4631 rows x 7 columns]

In [10]:
obj = Horizons(id="-24", id_type='majorbody',
               epochs={'start':'1995-04-07', 'stop':'1995-09-30',
                       'step':'VAR 460'})

eph = obj.ephemerides(quantities=1)
    
df = df.append(eph.to_pandas())

In [11]:
df = df.drop(['targetname', 'datetime_jd', 'solar_presence', 'flags'], axis = 1)
df = df.rename(columns={"datetime_str": "date", "RA": "ra", "DEC": "dec"})
print(df)

                        date         ra       dec
0   1973-Apr-07 00:00:00.000  290.69755 -34.80406
1   1973-Apr-07 03:39:19.268  290.83081 -34.80316
2   1973-Apr-07 08:38:22.160  290.96087 -34.80213
3   1973-Apr-07 15:46:34.986  291.08670 -34.80097
4   1973-Apr-08 02:41:48.882  291.20674 -34.79963
..                       ...        ...       ...
14  1995-Aug-02 20:56:05.928  271.80979  -7.70790
15  1995-Aug-11 05:56:14.348  271.69563  -7.74700
16  1995-Aug-20 20:24:23.880  271.58990  -7.79723
17  1995-Sep-01 13:57:14.840  271.50209  -7.86460
18  1995-Sep-17 12:39:19.441  271.46289  -7.96220

[4650 rows x 3 columns]

In [13]:
df.to_csv('pio11_ephemeris.csv')